html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, sans-serif;
  color: #333333;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #ffffff;
  color: #333333;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.--relative {
  position: relative;
}

.full-height {
  height: 100%;
}

body.active {
  overflow: hidden;
}

main {
  margin-top: 70px;
  min-height: calc(100vh - 119px);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.--semibold {
  font-weight: 600;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}

.heading-1 {
  color: #014f82;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.heading-2 {
  font-size: 24px;
  font-weight: 700;
  color: #014f82;
  margin-bottom: 15px;
}

.heading-3 {
  font-size: 18px;
  font-weight: 700;
  color: #014f82;
  margin-bottom: 10px;
}

.section-subtitle {
  font-size: 18px;
  line-height: 30px;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-user {
  background-image: url("../img/icon-user.png");
  width: 19px;
  height: 19px;
}

.icon-bell {
  background-image: url("../img/icon-notification.png");
  width: 15px;
  height: 17px;
}

.icon-add {
  background-image: url("../img/icon-add.png");
  width: 14px;
  height: 14px;
}

.icon-search {
  background-image: url("../img/icon-search.png");
  width: 18px;
  height: 18px;
}

.icon-pencil {
  background-image: url("../img/icon-pencil.png");
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.icon-arrow {
  background-image: url("../img/icon-arrow.png");
  width: 11px;
  height: 11px;
}

.icon-print {
  background-image: url("../img/icon-print.png");
  width: 18px;
  height: 18px;
}

.icon-calendar {
  background-image: url("../img/icon-calendar.png");
  width: 16px;
  height: 17px;
}

.icon-attachment {
  background-image: url("../img/icon-attachment.png");
  width: 17px;
  height: 17px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.m-row {
  margin: 0;
}

.mt-30 {
  margin-top: 30px;
}

.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  padding: 0 15px;
}

.col-xs-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  padding: 0 15px;
}

.col-xs-3 {
  flex: 0 0 25.0%;
  max-width: 25.0%;
  padding: 0 15px;
}

.col-xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 0 15px;
}

.col-xs-5 {
  flex: 0 0 41.66666%;
  max-width: 41.66666%;
  padding: 0 15px;
}

.col-xs-6 {
  flex: 0 0 50.0%;
  max-width: 50.0%;
  padding: 0 15px;
}

.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  padding: 0 15px;
}

.col-xs-8 {
  flex: 0 0 66.66666%;
  max-width: 66.66666%;
  padding: 0 15px;
}

.col-xs-9 {
  flex: 0 0 75.0%;
  max-width: 75.0%;
  padding: 0 15px;
}

.col-xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  padding: 0 15px;
}

.col-xs-11 {
  flex: 0 0 91.66666%;
  max-width: 91.66666%;
  padding: 0 15px;
}

.col-xs-12 {
  flex: 0 0 100.0%;
  max-width: 100.0%;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }
  .col-md-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 15px;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
  }
  .col-md-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 15px;
  }
  .col-md-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 15px;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px;
  }
  .col-md-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 15px;
  }
  .col-md-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 15px;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px;
  }
  .col-md-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 15px;
  }
  .col-md-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px;
  }
  .col-lg-3 {
    flex: 0 0 25.0%;
    max-width: 25.0%;
    padding: 0 15px;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
  }
  .col-lg-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
    padding: 0 15px;
  }
  .col-lg-6 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0 15px;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px;
  }
  .col-lg-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    padding: 0 15px;
  }
  .col-lg-9 {
    flex: 0 0 75.0%;
    max-width: 75.0%;
    padding: 0 15px;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px;
  }
  .col-lg-11 {
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
    padding: 0 15px;
  }
  .col-lg-12 {
    flex: 0 0 100.0%;
    max-width: 100.0%;
    padding: 0 15px;
  }
}

.btn {
  font-size: 14px;
  line-height: 1;
  padding: 7px 12px;
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 9px 51px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: all 0.3s ease-out;
}

.btn-primary {
  background: #014f82;
  border-color: #014f82;
  border-radius: 20px;
  color: #ffffff;
}

.btn-primary:hover {
  background: transparent;
  color: #014f82;
}

.btn-link {
  color: #009ade;
  background: none;
  border: none;
  border-bottom: 1px solid #009ade;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn-link:hover {
  color: #014f82;
  border-color: #014f82;
}

.btn-file {
  background-color: #014f82;
  color: #ffffff;
  background-image: url("../img/icon-file.png");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center left 20px;
  border-radius: 20px;
  padding: 10px 33px 10px 50px;
}

.btn-file:hover {
  background-color: #009ade;
}

.tabs-list {
  display: flex;
  max-width: 100%;
  border-bottom: 3px solid #f6f6f6;
  margin-bottom: 50px;
}

.tabs-list__item {
  margin-right: 40px;
}

.tabs-list__item_link {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
  position: relative;
  cursor: pointer;
}

.tabs-list__item_link:before {
  content: "";
  position: absolute;
  background: #009ade;
  height: 3px;
  bottom: -21px;
  left: 0;
  width: 100%;
  height: 3px;
  opacity: 0;
  transition: all 0.3s ease-out;
  pointer-events: none;
}

.tabs-list__item_link:hover, .tabs-list__item_link.active {
  color: #014f82;
}

.tabs-list__item_link:hover:before, .tabs-list__item_link.active:before {
  opacity: 1;
}

.tabs-wrap .tab-content {
  display: none;
  -webkit-animation: fadeEffect 0.5s;
          animation: fadeEffect 0.5s;
}

.tabs-wrap .tab-content.is-show {
  display: block;
}

.tabs-wrap .tab-content.active {
  display: block;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form-group {
  width: 100%;
  position: relative;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  font-family: inherit;
  color: #333333;
  font-size: inherit;
  line-height: 1;
  padding: 10px 50px 10px 14px;
  border: 1px solid #d1d1d1;
}

.form-group input::-webkit-input-placeholder,
.form-group textarea::-webkit-input-placeholder,
.form-group select::-webkit-input-placeholder {
  color: #333333;
  opacity: 1;
}

.form-group input:-ms-input-placeholder,
.form-group textarea:-ms-input-placeholder,
.form-group select:-ms-input-placeholder {
  color: #333333;
  opacity: 1;
}

.form-group input::-ms-input-placeholder,
.form-group textarea::-ms-input-placeholder,
.form-group select::-ms-input-placeholder {
  color: #333333;
  opacity: 1;
}

.form-group input::placeholder,
.form-group textarea::placeholder,
.form-group select::placeholder {
  color: #333333;
  opacity: 1;
}

.form-group input:-ms-input-placeholder,
.form-group textarea:-ms-input-placeholder,
.form-group select:-ms-input-placeholder {
  color: #333333;
}

.form-group input::-ms-input-placeholder,
.form-group textarea::-ms-input-placeholder,
.form-group select::-ms-input-placeholder {
  color: #333333;
}

.form-group textarea {
  line-height: 1.5;
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../img/icon-arrow-small.png");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center right 12px;
}

.form-group button[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.form-buttons {
  margin-top: 85px;
  display: flex;
  align-items: center;
}

.form-buttons button, .form-buttons a {
  white-space: nowrap;
  min-width: 150px;
  height: 46px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-out;
}

.form-buttons__submit {
  background: #009ade;
  color: #ffffff;
  margin-right: 10px;
}

.form-buttons__submit:hover {
  background: #014f82;
}

.form-buttons__cancel {
  background: #f6f6f6;
  color: #333333;
}

.form-buttons__cancel:hover {
  background: #dfdfdf;
}

.upload {
  position: relative;
  display: block;
  width: 210px;
  height: 40px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 210px;
  margin-top: 30px;
}

.upload input[type="file"] {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.upload input[type="file"]:not(.empty):valid + label:before {
  content: "";
  display: block;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  right: -25px;
  width: 18px;
  height: 18px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 2;
  background-image: url("../img/icon-remove.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  text-align: center;
}

.upload input[type="file"]:not(.empty):valid + label:after {
  background-color: #ffffff;
  color: #009ade;
  text-decoration: underline;
  pointer-events: none;
  background-image: url("../img/icon-attachment.png");
}

.upload input[type="file"]:invalid + label:after,
.upload input[type="file"].empty + label:after {
  content: attr(data-drag-text);
}

.upload label {
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
}

.upload label:before, .upload label:after {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.upload label:after {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #014f82;
  color: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
  content: attr(data-input-value);
  background-image: url("../img/icon-file.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center left 18px;
  padding: 0 0 0 45px;
  z-index: 3;
  cursor: pointer;
}

#datepicker {
  background-image: url("../img/icon-calendar.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center right 15px;
}

label {
  margin-bottom: 13px;
  font-weight: 700;
  display: inline-block;
}

.header {
  background: #ffffff;
  padding: 24px 0;
  margin: auto;
  z-index: 100;
  border-bottom: 5px solid #f6f6f6;
}

.header .container {
  max-width: 1440px;
}

.header-logo {
  display: flex;
  width: 260px;
}

.header-logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-notifications {
  display: flex;
  margin-right: 20px;
  cursor: pointer;
}

.header .menu-item-has-child {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.header .menu-item-has-child:after {
  content: "";
  display: inline-block;
  background: url("../img/icon-triangle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 11px;
  height: 11px;
  margin-left: 5px;
  right: 0;
}

.sub-menu {
  border: 1px solid #d1d1d1;
  position: absolute;
  top: 30px;
  padding: 15px 15px 15px 30px;
  width: 220px;
  right: 0;
  background: #fff;
  text-align: right;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  z-index: 22;
}

.sub-menu.active {
  opacity: 1;
  visibility: visible;
}

.sub-menu li {
  margin: 0 0 6px 0;
  display: inline-block;
}

.sub-menu a {
  position: relative;
  transition: all 0.3s ease-out;
}

.sub-menu a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  background: #009ade;
  transition: all 0.3s ease-out;
}

.sub-menu a:hover {
  color: #009ade;
}

.sub-menu a:hover:before {
  opacity: 1;
}

.header-user .sub-menu {
  width: 180px;
}

.navbar {
  transition: all 0.3s ease-out;
  margin-left: auto;
  display: flex;
  align-items: center;
  z-index: 101;
}

.navbar.active {
  right: 0;
}

.menu {
  margin-right: 15px;
}

.menu-item {
  margin: 0 10px;
}

.menu-item a {
  display: block;
  position: relative;
  transition: all 0.3s ease-out;
}

.menu-item a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  background: #009ade;
  transition: all 0.3s ease-out;
}

.menu-item a:hover {
  color: #009ade;
}

.menu-item a:hover:before {
  opacity: 1;
}

.hamburger {
  display: none;
  width: 45px;
  height: 45px;
  margin-right: -15px;
  position: relative;
  z-index: 102;
}

.hamburger span {
  position: absolute;
  right: 15px;
  display: block;
  width: 25px;
  background: #009ade;
  height: 3px;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.hamburger span:nth-child(1) {
  top: calc(50% - 8.5px);
}

.hamburger span:nth-child(2) {
  top: calc(50% - 2.5px);
}

.hamburger span:nth-child(3) {
  top: calc(50% - 2.5px);
}

.hamburger span:nth-child(4) {
  top: calc(50% + 3.5px);
}

.hamburger.open span {
  background: #009ade;
}

.hamburger.open span:nth-child(1) {
  top: calc(50% - 2.5px);
  width: 0%;
  right: 50%;
}

.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
  top: calc(50% - 2.5px);
  width: 0;
  right: 50%;
}

.footer {
  margin-top: 50px;
}

.footer-menu {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer-menu a {
  font-size: 18px;
  position: relative;
  display: block;
  line-height: 1;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 2px solid #333333;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu li:last-child a {
  border: none;
}

.footer-copyright {
  display: flex;
  align-items: center;
  padding: 28px 0;
  border-top: 1px solid #d1d1d1;
}

.footer-copyright a {
  position: relative;
  display: flex;
  margin-left: 30px;
  color: #555555;
  line-height: 1;
}

.footer-copyright a:before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  width: 1px;
  height: 100%;
  background: #555555;
}

.footer-copyright p {
  color: #6d7278;
}

.account-overview .tabs {
  margin: 50px 0 110px 0;
}

.account-overview-additional {
  background: #f6f6f6;
  padding: 70px 0;
}

.account-overview-additional .container {
  display: flex;
  justify-content: space-between;
}

.account-overview-additional .additional-icon {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.account-overview-additional a {
  border-bottom: 1px solid #333333;
  display: inline-block;
  transition: all 0.3s ease-out;
  line-height: 1.2;
}

.account-overview-additional a:hover {
  border-color: transparent;
}

.account-overview-additional .btn {
  border: 2px solid #014f82;
}

.account-overview-additional .btn:hover {
  border-color: #014f82;
}

.account-overview__search .btn-primary {
  margin-top: 20px;
}

.account-overview__resources a {
  margin-bottom: 12px;
  display: inline-block;
}

.account-overview form {
  margin-bottom: 45px;
}

.table-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.table-sort span {
  font-size: 14px;
  line-height: 1;
}

.table-sort p {
  font-size: 14px;
  color: #009ade;
  font-weight: 700;
  line-height: 1;
}

.law-firm-account .table th {
  cursor: pointer;
}

.law-firm-account .table tr:last-child td {
  padding-bottom: 0;
  border: none;
}

.law-firm-account .table th:first-child,
.law-firm-account .table td:first-child {
  width: 20%;
}

.law-firm-account .table th:nth-child(2),
.law-firm-account .table td:nth-child(2) {
  width: 20%;
}

.law-firm-account .table th:nth-child(3),
.law-firm-account .table td:nth-child(3) {
  width: 40%;
  padding-left: 80px;
}

.law-firm-account .table th:nth-child(3) p,
.law-firm-account .table td:nth-child(3) p {
  display: inline-block;
  width: 200px;
}

.law-firm-account .table th:nth-child(4),
.law-firm-account .table td:nth-child(4) {
  width: 40%;
}

.table {
  width: 100%;
}

.table th {
  font-size: 16px;
  color: #014f82;
  font-weight: 700;
  padding-bottom: 8px;
}

.table th,
.table td {
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 10px;
}

.table td {
  padding-bottom: 20px;
}

.table thead {
  border-bottom: 3px solid #f6f6f6;
}

.table tbody tr:first-child td {
  padding-top: 30px;
}

.table tbody tr:last-child td {
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.table tfoot td {
  padding-top: 24px;
  font-weight: 700;
}

.account-overview table th,
.account-overview table td {
  width: 20%;
}

.account-overview table .funding-request {
  white-space: nowrap;
  margin-left: 25px;
  color: #009ade;
  border-bottom: 2px solid #009ade;
  transition: all 0.3s ease-out;
}

.account-overview table .funding-request:hover {
  border-color: transparent;
}

.file-details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 3px solid #f6f6f6;
}

.file-details__name p {
  font-size: 18px;
}

.file-details__type {
  margin-bottom: 10px;
  color: #014f82;
  font-weight: 700;
  font-size: 18px;
}

.file-details__description {
  margin-bottom: 24px;
}

.file-details-cards {
  margin: 50px -15px 20px -15px;
}

.file-details-cards .col-xs-6 {
  margin-bottom: 30px;
}

.file-details-cards .cards__item {
  background: #f6f6f6;
  padding: 20px;
  border: 2px solid transparent;
  height: 100%;
}

.file-details-cards .cards__item.active {
  border-color: #014f82;
}

.file-details-cards .cards__item.active .cards__value {
  font-weight: 700;
}

.file-details-cards .cards__heading {
  font-size: 18px;
  color: #014f82;
  font-weight: 700;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.file-details-cards .cards__heading i {
  margin-left: 5px;
}

.file-details-cards .cards__value {
  font-size: 18px;
}

.file-details__expert_access {
  margin-bottom: 60px;
}

.file-details__file_funder {
  margin-bottom: 50px;
}

.file-details-table-helper {
  font-size: 12px;
  margin: 18px 0 50px 0;
}

.file-details-table-addition {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-details-table-addition p {
  margin-right: 20px;
  width: 65%;
}

.file-details .form-buttons {
  margin-bottom: 80px;
}

.file-details .file_funder_header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 12px;
}

.file-details .file_funder_header h2 {
  margin-bottom: 0;
  line-height: 1;
}

.file-details .file_funder_header a {
  margin-left: 18px;
  line-height: 1;
  color: #009ade;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid #009ade;
}

.file-details .file_funder_header a:hover {
  border-color: transparent;
}

.print-page {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.print-page:hover span {
  border-color: transparent;
}

.print-page i {
  margin-right: 10px;
}

.print-page span {
  color: #009ade;
  line-height: 1.2;
  border-bottom: 1px solid #009ade;
  transition: all 0.3s ease-out;
}

.file-details .table th {
  cursor: pointer;
  color: #333333;
  padding-top: 20px;
  font-size: 14px;
}

.file-details .table th label:before {
  border-width: 2px;
  margin-right: 15px;
}

.file-details .table td {
  font-size: 14px;
}

.file-details .table a {
  color: #009ade;
  line-height: 0.6;
  text-decoration: underline;
  transition: all 0.3s ease-out;
  margin-left: 15px;
}

.file-details .table a:hover {
  color: #014f82;
}

.file-details .table tbody tr:first-child td {
  padding-top: 15px;
}

.file-details .table tbody tr:last-child td {
  padding-bottom: 20px;
}

.file-details .table thead {
  border-top: 3px solid #f6f6f6;
  border-bottom: none;
}

.file-details .table tfoot td {
  padding: 15px 0;
  border-bottom: 1px solid #d1d1d1;
}

.file-details .table input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
}

.file-details .table input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 6px;
  width: 5px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
}

.file-details .table input:checked + label:before {
  background: #014f82;
  border-color: #014f82;
}

.file-details .table label {
  position: relative;
  margin: 0;
  cursor: pointer;
}

.file-details .table label:before {
  content: "";
  -webkit-appearance: none;
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 0 0 3px 0;
  background-color: transparent;
  border: 1px solid #555555;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.file-details .table label:after {
  transition: all 0.3s ease-in-out;
}

.funding-request__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 65px;
}

.funding-request__header h1 {
  margin-bottom: 0;
  line-height: 1;
}

.funding-request__image {
  display: flex;
  width: 300px;
}

.funding-request__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.funding-request__form .form-group {
  margin-bottom: 30px;
}

.funding-request__form label span {
  color: #ff0000;
}

.funding-request__form label small {
  font-size: 14px;
}

.funding-request-add {
  padding-top: 30px;
  border-top: 1px solid #d1d1d1;
}

.funding-request-add .add-funding {
  color: #009ade;
  border-bottom: 1px solid #009ade;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.funding-request-add .add-funding:hover {
  border-color: transparent;
}

.upload-helper {
  margin: 30px 0 0 40px;
  font-size: 14px;
}

.form-disbursement {
  padding-bottom: 48px;
}

.status-update__header {
  margin-bottom: 50px;
}

.status-update-expert__header {
  align-items: flex-end;
  margin-bottom: 50px;
}

.status-update-expert__header h1 {
  margin-bottom: 0;
  text-align: right;
}

.status-update-expert__image {
  display: flex;
  width: 300px;
}

.status-update-expert__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.transaction-details-header {
  align-items: flex-end;
  margin-bottom: 50px;
}

.transaction-details-header .col-md-4:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.transaction-details-header .section-subtitle,
.transaction-details-header h1 {
  margin: 0;
  line-height: 1;
}

.transaction-details-header h1 {
  margin-top: 40px;
}

.transaction-details__image {
  display: flex;
  width: 300px;
}

.transaction-details__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.transaction-details__information .information-item {
  display: flex;
  margin-bottom: 10px;
}

.transaction-details__information .information-item small {
  font-size: 10px;
}

.transaction-details__information .information__key {
  width: 33.33%;
  margin-right: 8px;
  font-weight: 700;
}

.transaction-details__information .information-total {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #d1d1d1;
}

.transaction-details__information .information-total .information__value {
  font-weight: 700;
}

.transaction-details__information .information-file {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.transaction-details__information .information-file span {
  color: #009ade;
  line-height: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid #009ade;
  display: block;
  margin-left: 8px;
}

.transaction-details__information .information-back {
  margin-top: 85px;
}

.transaction-details__information .information-back a {
  width: 150px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-out;
  background: #009ade;
  color: #ffffff;
  margin-right: 10px;
}

.transaction-details__information .information-back a:hover {
  background: #014f82;
}

@media (max-width: 992px) {
  main {
    margin-top: 30px;
    min-height: auto;
  }
  .body-padding {
    height: 90px;
  }
  .header {
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
  }
  .header .d-flex {
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    width: 200px;
  }
  .header-notifications {
    margin: 10px 0;
  }
  .header .menu-item-has-child {
    margin: 10px 0 0 0;
  }
  .header .menu {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .header .menu-item {
    margin: 10px 0;
  }
  .header .menu-item a {
    font-size: 18px;
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 94px;
    right: -120vw;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-out;
    padding: 10px 10px 20px 10px;
  }
  .sub-menu {
    right: unset;
    left: 0;
    text-align: left;
  }
  .hamburger {
    display: block;
  }
  .law-firm-account .table th:first-child,
  .law-firm-account .table td:first-child {
    width: 16%;
  }
  .law-firm-account .table th:nth-child(3),
  .law-firm-account .table td:nth-child(3) {
    width: 34%;
    padding-left: 0;
  }
  .account-overview-additional {
    padding: 30px 0;
  }
  .account-overview__search {
    margin-bottom: 30px;
  }
  .status-update-expert__image {
    width: 100%;
  }
  .transaction-details__image {
    width: 200px;
  }
  .file-details .table td {
    font-size: 12px;
  }
  .file-details .table th:first-child {
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .heading-1 {
    font-size: 24px;
  }
  .heading-2 {
    font-size: 20px;
  }
  .form-buttons {
    margin-top: 50px;
  }
  .footer {
    margin-top: 30px;
  }
  .footer-menu a {
    margin-right: 6px;
    padding-right: 6px;
    font-size: 14px;
  }
  .account-overview .tabs {
    margin: 30px 0 50px 0;
  }
  .tabs-list {
    margin-bottom: 10px;
    flex-direction: column;
    border: none;
    padding: 0 0 0 50px;
  }
  .tabs-list__item {
    margin: 0 0 15px 0;
  }
  .tabs-list__item_link {
    font-size: 16px;
    margin: 0;
  }
  .tabs-list__item_link:before, .tabs-list__item_link:after {
    content: "";
    position: absolute;
    left: -50px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 40px;
    height: 3px;
  }
  .tabs-list__item_link:before {
    background: #009ade;
    z-index: 1;
  }
  .tabs-list__item_link:after {
    background: #f6f6f6;
  }
  .table thead {
    border: none;
  }
  .account-overview form {
    margin-bottom: 0;
  }
  .account-overview form .col-xs-12 {
    margin-bottom: 20px;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table,
  .table tbody,
  .table td,
  .table th,
  .table thead,
  .table tr {
    display: block;
  }
  .law-firm-account .table td:nth-child(3) {
    display: flex;
  }
  .table td {
    border: none;
    position: relative;
    padding-left: 158px;
  }
  .table td:before {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 110px;
    font-size: 13px;
    padding-right: 10px;
    color: #777;
    white-space: nowrap;
    content: attr(data-column);
  }
  .table td:after {
    content: ":";
    position: absolute;
    left: 90px;
    color: #777;
    font-size: 17px;
    top: 49%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .account-overview table td {
    width: 100%;
    line-height: 1.4;
  }
  .table-sort {
    margin-bottom: 20px;
  }
  .table-sort span {
    display: none;
  }
  .table tbody tr:first-child td {
    padding: 5px 10px 5px 110px;
  }
  .table tbody tr:last-child td {
    padding: 5px 10px 5px 110px;
  }
  .table tbody td {
    padding: 5px 10px 5px 110px;
  }
  .table tbody tr:last-child td {
    border: none;
  }
  .table tbody tr {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .table tfoot td {
    padding: 5px 10px 5px 110px;
  }
  .table tfoot td:first-child:after {
    display: none;
  }
  .law-firm-account .table td:nth-child(3) {
    padding: 5px 10px 5px 110px;
  }
  .law-firm-account .table td {
    width: 100% !important;
  }
  .funding-request__header {
    flex-direction: column;
    align-items: center;
  }
  .funding-request__image {
    width: 200px;
  }
  .funding-request .form-group {
    margin-bottom: 15px;
  }
  .upload,
  .upload-helper {
    margin-top: 15px;
  }
  .upload-helper {
    font-size: 11px;
  }
  .status-update-expert__image {
    width: 250px;
    margin: auto;
  }
  .status-update-expert__header {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .status-update-expert__header .col-xs-12 {
    margin-bottom: 10px;
  }
  .status-update-expert__header .col-xs-12:nth-child(2) {
    order: 3;
  }
  .status-update-expert__header h1 {
    text-align: center;
  }
  .transaction-details-header {
    position: relative;
    margin-bottom: 30px;
  }
  .transaction-details-header .section-subtitle,
  .transaction-details-header h1 {
    text-align: center;
    margin: 10px 0;
  }
  .transaction-details-header .col-md-4:nth-child(2) {
    order: 3;
  }
  .transaction-details-header .col-md-4:nth-child(3) {
    align-items: center;
    order: 2;
  }
  .transaction-details-header .print-page {
    position: absolute;
    right: 20px;
    top: 0;
  }
  .transaction-details__image {
    margin: auto auto 10px auto;
  }
  .transaction-details__information .information__key {
    min-width: 150px;
    width: 150px;
    margin-right: 20px;
  }
  .transaction-details__information .information-file {
    margin-top: 30px;
  }
  .transaction-details__information .information-back {
    margin-top: 50px;
  }
  .file-details__header {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .file-details-cards {
    margin: 30px -15px 0 -15px;
  }
  .file-details-cards .cards__heading {
    font-size: 14px;
  }
  .file-details-cards .cards__value {
    font-size: 14px;
  }
  .file-details .table td {
    font-size: 14px;
    padding: 5px 10px 5px 130px;
  }
  .file-details .table td:before {
    width: 130px;
  }
  .file-details .table td:after {
    left: 110px;
  }
  .file-details .table th:first-child {
    white-space: nowrap;
  }
  .file-details .table tbody tr:first-child td,
  .file-details .table tbody tr:last-child td,
  .file-details .table tfoot td {
    padding: 5px 10px 5px 130px;
  }
  .file-details .table tfoot td {
    border: none;
  }
  .file-details-table-addition {
    flex-direction: column;
    align-items: flex-start;
  }
  .file-details-table-addition p {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .file-details-table-helper {
    margin: 15px 0 30px 0;
  }
  .file-details .form-buttons {
    margin: 50px 0 50px 0;
  }
}

@media (max-width: 576px) {
  .footer-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-menu a {
    margin: 0 0 10px 0;
    padding: 0;
    border-right: none;
    border-bottom: 1px solid #333333;
  }
  .footer-menu a:hover {
    text-decoration: none;
  }
  .footer-menu li:last-child a {
    border-bottom: 1px solid #333333;
  }
  .account-overview table .funding-request {
    margin-left: 15px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */