// MIXINS
@mixin transition($time) {
  -webkit-transition: all $time + 0s ease-out;
  -moz-transition: all $time + 0s ease-out;
  -o-transition: all $time + 0s ease-out;
  transition: all $time + 0s ease-out;
}
@mixin fontSize($minSize, $maxSize) {
  font-size: $maxSize + 0px;
  font-size: -webkit-calc(
    #{$minSize + 0px} + (#{$maxSize} - #{$minSize}) * ((100vw - 300px) /
          (1900 - 300))
  );
  font-size: -moz-calc(
    #{$minSize + 0px} + (#{$maxSize} - #{$minSize}) * ((100vw - 300px) /
          (1900 - 300))
  );
  font-size: calc(
    #{$minSize + 0px} + (#{$maxSize} - #{$minSize}) * ((100vw - 300px) /
          (1900 - 300))
  );
}
@mixin defaultIcon($size) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: $size;
}
@mixin grid-size($size) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 $size;
  -ms-flex: 0 0 $size;
  flex: 0 0 $size;
  max-width: $size;
}
// VARIABLES
$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;

$whiteColor: #ffffff;
$defaultText: #333333;
$lightGrey: #f6f6f6;
$blackColor: #000000;
$lightBlue: #009ade;
$darkBlue: #014f82;
// RESET STYLES
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, sans-serif;
  color: $defaultText;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: $whiteColor;
  color: $defaultText;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  @media (max-width: $breakpoint-md) {
    font-size: 14px;
  }
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus {
  outline: none;
}
a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
nav {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
// BASE
.--relative {
  position: relative;
}
.full-height {
  height: 100%;
}
body.active {
  overflow: hidden;
}
main {
  margin-top: 70px;
  min-height: calc(100vh - 119px);
}
// TYPOGRAPHY
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.--semibold {
  font-weight: 600;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--uppercase {
  text-transform: uppercase;
}
.heading-1 {
  color: $darkBlue;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
.heading-2 {
  font-size: 24px;
  font-weight: 700;
  color: $darkBlue;
  margin-bottom: 15px;
}
.heading-3 {
  font-size: 18px;
  font-weight: 700;
  color: $darkBlue;
  margin-bottom: 10px;
}
.section-subtitle {
  font-size: 18px;
  line-height: 30px;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  &-user {
    background-image: url("../img/icon-user.png");
    width: 19px;
    height: 19px;
  }
  &-bell {
    background-image: url("../img/icon-notification.png");
    width: 15px;
    height: 17px;
  }
  &-add {
    background-image: url("../img/icon-add.png");
    width: 14px;
    height: 14px;
  }
  &-search {
    background-image: url("../img/icon-search.png");
    width: 18px;
    height: 18px;
  }
  &-pencil {
    background-image: url("../img/icon-pencil.png");
    width: 14px;
    height: 14px;
    cursor: pointer;
  }
  &-arrow {
    background-image: url("../img/icon-arrow.png");
    width: 11px;
    height: 11px;
  }
  &-print {
    background-image: url("../img/icon-print.png");
    width: 18px;
    height: 18px;
  }
  &-calendar {
    background-image: url("../img/icon-calendar.png");
    width: 16px;
    height: 17px;
  }
  &-attachment {
    background-image: url("../img/icon-attachment.png");
    width: 17px;
    height: 17px;
  }
}
// GRID
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: $breakpoint-md) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.m-row {
  margin: 0;
}
.mt-30 {
  margin-top: 30px;
}

@for $i from 1 through 12 {
  .col-xs-#{$i} {
    @include grid-size(8.333333% * $i);
    padding: 0 15px;
  }
}
@media (min-width: ($breakpoint-grid-md)) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}
@media (min-width: ($breakpoint-grid-lg)) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      @include grid-size(8.333333% * $i);
      padding: 0 15px;
    }
  }
}
// BUTTONS
.btn {
  font-size: 14px;
  line-height: 1;
  padding: 7px 12px;
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 9px 51px;
  font-size: 16px;
  border: 2px solid transparent;
  @include transition(0.3);
  &-primary {
    background: $darkBlue;
    border-color: $darkBlue;
    border-radius: 20px;
    color: $whiteColor;
    &:hover {
      background: transparent;
      color: $darkBlue;
    }
  }

  &-link {
    color: $lightBlue;
    background: none;
    border: none;
    border-bottom: 1px solid $lightBlue;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    @include transition(0.3);
    &:hover {
      color: $darkBlue;
      border-color: $darkBlue;
    }
  }
  &-file {
    background-color: $darkBlue;
    color: $whiteColor;
    background-image: url('../img/icon-file.png');
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center left 20px;
    border-radius: 20px;
    padding: 10px 33px 10px 50px;
    &:hover {
      background-color: $lightBlue;
    }
  }
}

// TABS
.tabs {
  &-list {
    display: flex;
    max-width: 100%;
    border-bottom: 3px solid #f6f6f6;
    margin-bottom: 50px;
    &__item {
      margin-right: 40px;
      &_link {
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 18px;
        position: relative;
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          background: $lightBlue;
          height: 3px;
          bottom: -21px;
          left: 0;
          width: 100%;
          height: 3px;
          opacity: 0;
          @include transition(0.3);
          pointer-events: none;
        }
        &:hover,
        &.active {
          color: $darkBlue;
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
  &-wrap {
    .tab-content {
      display: none;
      animation: fadeEffect 0.5s;
      &.is-show {
        display: block;
      }
      &.active {
        display: block;
      }
    }
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// FORMS
.form-group {
  width: 100%;
  position: relative;
  & input,
  & textarea,
  & select {
    width: 100%;
    font-family: inherit;
    color: $defaultText;
    font-size: inherit;
    line-height: 1;
    padding: 10px 50px 10px 14px;
    border: 1px solid #d1d1d1;
    &::placeholder {
      color: $defaultText;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: $defaultText;
    }
    &::-ms-input-placeholder {
      color: $defaultText;
    }
  }
  & textarea {
    line-height: 1.5;
  }
  & select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../img/icon-arrow-small.png");
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center right 12px;
  }
  & button[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}
.form-buttons {
  margin-top: 85px;
  display: flex;
  align-items: center;
  & button, & a {
    white-space: nowrap;
    min-width: 150px;
    height: 46px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 16px;
    @include transition(0.3);
  }
  &__submit {
    background: $lightBlue;
    color: $whiteColor;
    margin-right: 10px;
    &:hover {
      background: $darkBlue;
    }
  }
  &__cancel {
    background: #f6f6f6;
    color: $defaultText;
    &:hover {
      background: #dfdfdf;
    }
  }
}
.upload {
  display: flex;
  align-items: center;
  position: relative;
  width: 210px;
  height: 40px;
  min-width: 210px;
  margin-top: 30px;
  cursor: pointer;
  width: fit-content;
  & .remove {
    display: block;
    background-image: url("../img/icon-remove.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    position: absolute;
    right: -30px;
    display: none;
  }
  & input[type="file"] {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
  & label {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    &:after {
      content: 'Upload Attachment';
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $darkBlue;
      color: $whiteColor;
      border-radius: 20px;
      display: flex;
      align-items: center;
      font-weight: 400;
      background-image: url("../img/icon-file.png");
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: center left 18px;
      padding: 0 0 0 45px;
      z-index: 3;
      cursor: pointer;
    }
    &.active {
      &:after {
        content: attr(data-input-value);
        background-color: transparent;
        color: $lightBlue;
        text-decoration: underline;
        background-image: url("../img/icon-attachment.png");
      }
      & ~ .remove {
        display: block;
      }
    }
  }
}
#datepicker {
  background-image: url("../img/icon-calendar.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center right 15px;
}
label {
  margin-bottom: 13px;
  font-weight: 700;
  display: inline-block;
}
// HEADER
.header {
  background: $whiteColor;
  padding: 24px 0;
  margin: auto;
  z-index: 100;
  border-bottom: 5px solid #f6f6f6;
  & .container {
    max-width: 1440px;
  }
  &-logo {
    display: flex;
    width: 260px;
    & img {
      @include defaultIcon(contain);
    }
  }
  &-notifications {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
  }
  & .menu-item-has-child {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    &:after {
      content: "";
      display: inline-block;
      background: url("../img/icon-triangle.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 11px;
      height: 11px;
      margin-left: 5px;
      right: 0;
    }
  }
}
.sub-menu {
  border: 1px solid #d1d1d1;
  position: absolute;
  top: 30px;
  padding: 15px 15px 15px 30px;
  width: 220px;
  right: 0;
  background: #fff;
  text-align: right;
  opacity: 0;
  visibility: hidden;
  @include transition(0.3);
  z-index: 22;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  & li {
    margin: 0 0 6px 0;
    display: inline-block;
  }
  & a {
    position: relative;
    @include transition(0.3);
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      opacity: 0;
      background: $lightBlue;
      @include transition(0.3);
    }
    &:hover {
      color: $lightBlue;
      &:before {
        opacity: 1;
      }
    }
  }
}
.header-user {
  & .sub-menu {
    width: 180px;
  }
}
.navbar {
  @include transition(0.3);
  margin-left: auto;
  display: flex;
  align-items: center;
  z-index: 101;
  &.active {
    right: 0;
  }
}
.menu {
  margin-right: 15px;
  &-item {
    margin: 0 10px;
    & a {
      display: block;
      position: relative;
      @include transition(0.3);
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        opacity: 0;
        background: $lightBlue;
        @include transition(0.3);
      }
      &:hover {
        color: $lightBlue;
        &:before {
          opacity: 1;
        }
      }
    }
  }
}
.hamburger {
  display: none;
  width: 45px;
  height: 45px;
  margin-right: -15px;
  position: relative;
  z-index: 102;
  & span {
    position: absolute;
    right: 15px;
    display: block;
    width: 25px;
    background: $lightBlue;
    height: 3px;
    border-radius: 10px;
    @include transition(0.3);
  }
  & span:nth-child(1) {
    top: calc(50% - 8.5px);
  }
  & span:nth-child(2) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(3) {
    top: calc(50% - 2.5px);
  }
  & span:nth-child(4) {
    top: calc(50% + 3.5px);
  }
  &.open {
    & span {
      background: $lightBlue;
    }
    & span:nth-child(1) {
      top: calc(50% - 2.5px);
      width: 0%;
      right: 50%;
    }
    & span:nth-child(2) {
      transform: rotate(45deg);
    }
    & span:nth-child(3) {
      transform: rotate(-45deg);
    }
    & span:nth-child(4) {
      top: calc(50% - 2.5px);
      width: 0;
      right: 50%;
    }
  }
}

// FOOTER
.footer {
  margin-top: 50px;
  &-menu {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    & a {
      font-size: 18px;
      position: relative;
      display: block;
      line-height: 1;
      margin-right: 15px;
      padding-right: 15px;
      border-right: 2px solid $defaultText;
      &:hover {
        text-decoration: underline;
      }
    }
    & li:last-child a {
      border: none;
    }
  }
  &-copyright {
    display: flex;
    align-items: center;
    padding: 28px 0;
    border-top: 1px solid #d1d1d1;
    & a {
      position: relative;
      display: flex;
      margin-left: 30px;
      color: #555555;
      line-height: 1;
      &:before {
        content: "";
        position: absolute;
        left: -15px;
        top: 0;
        width: 1px;
        height: 100%;
        background: #555555;
      }
    }
    & p {
      color: #6d7278;
    }
  }
}
// ACCOUNT OVERVIEW SCREEN
.account-overview {
  & .tabs {
    margin: 50px 0 110px 0;
  }
  &-additional {
    background: #f6f6f6;
    padding: 70px 0;
    & .container {
      display: flex;
      justify-content: space-between;
    }
    & .additional-icon {
      width: 46px;
      height: 46px;
      border-radius: 100%;
      background: $whiteColor;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 18px;
    }
    & a {
      border-bottom: 1px solid $defaultText;
      display: inline-block;
      @include transition(0.3);
      line-height: 1.2;
      &:hover {
        border-color: transparent;
      }
    }
    & .btn {
      border: 2px solid $darkBlue;
      &:hover {
        border-color: $darkBlue;
      }
    }
  }
  &__search {
    & .btn-primary {
      margin-top: 20px;
    }
  }
  &__resources {
    & a {
      margin-bottom: 12px;
      display: inline-block;
    }
  }
  & form {
    margin-bottom: 45px;
  }
}
.table-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  & span {
    font-size: 14px;
    line-height: 1;
  }
  & p {
    font-size: 14px;
    color: $lightBlue;
    font-weight: 700;
    line-height: 1;
  }
}
.law-firm-account {
  & .table {
    & th {
      cursor: pointer;
    }
    & tr:last-child {
      td {
        padding-bottom: 0;
        border: none;
      }
    }
    & th:first-child,
    & td:first-child {
      width: 20%;
    }
    & th:nth-child(2),
    & td:nth-child(2) {
      width: 20%;
    }
    & th:nth-child(3),
    & td:nth-child(3) {
      width: 40%;
      padding-left: 80px;
      & p {
        display: inline-block;
        width: 200px;
      }
    }
    & th:nth-child(4),
    & td:nth-child(4) {
      width: 40%;
    }
  }
}
// TABLE STYLES
.table {
  // I use the class so that it does not conflict with the datepicker plugin
  width: 100%;
  & th {
    font-size: 16px;
    color: $darkBlue;
    font-weight: 700;
    padding-bottom: 8px;
  }
  & th,
  & td {
    text-align: left;
    width: fit-content;
    padding-right: 10px;
  }
  & td {
    padding-bottom: 20px;
  }
  thead {
    border-bottom: 3px solid #f6f6f6;
  }
  tbody {
    & tr:first-child {
      td {
        padding-top: 30px;
      }
    }
    & tr:last-child {
      td {
        padding-bottom: 30px;
        border-bottom: 1px solid #d1d1d1;
      }
    }
  }
  tfoot {
    & td {
      padding-top: 24px;
      font-weight: 700;
    }
  }
}

.account-overview {
  & table {
    & th,
    td {
      width: 20%;
    }
    & .funding-request {
      white-space: nowrap;
      margin-left: 25px;
      color: $lightBlue;
      border-bottom: 2px solid $lightBlue;
      @include transition(0.3);
      &:hover {
        border-color: transparent;
      }
    }
  }
}
// FILE DETAILS PAGE
.file-details {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 3px solid #f6f6f6;
  }
  &__name {
    & p {
      font-size: 18px;
    }
  }
  &__type {
    margin-bottom: 10px;
    color: $darkBlue;
    font-weight: 700;
    font-size: 18px;
  }
  &__description {
    margin-bottom: 24px;
  }
  &-cards {
    margin: 50px -15px 20px -15px;
    & .col-xs-6 {
      margin-bottom: 30px;
    }
    & .cards {
      &__item {
        background: #f6f6f6;
        padding: 20px;
        border: 2px solid transparent;
        height: 100%;
        &.active {
          border-color: $darkBlue;
          & .cards__value {
            font-weight: 700;
          }
        }
      }
      &__heading {
        font-size: 18px;
        color: $darkBlue;
        font-weight: 700;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        & i {
          margin-left: 5px;
        }
      }
      &__value {
        font-size: 18px;
      }
    }
  }
  &__expert_access {
    margin-bottom: 60px;
  }
  &__file_funder {
    margin-bottom: 50px;
  }
  &-table-helper {
    font-size: 12px;
    margin: 18px 0 50px 0;
  }
  &-table-addition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & p {
      margin-right: 20px;
      width: 65%;
    }
  }
  & .form-buttons {
    margin-bottom: 80px;
  }
  & .file_funder_header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
    & h2 {
      margin-bottom: 0;
      line-height: 1;
    }
    & a {
      margin-left: 18px;
      line-height: 1;
      color: $lightBlue;
      @include transition(.3);
      border-bottom: 1px solid $lightBlue;
      &:hover {
        border-color: transparent;
      }
    }
  }
}
.print-page {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    & span {
      border-color: transparent;
    }
  }
  & i {
    margin-right: 10px;
  }
  & span {
    color: $lightBlue;
    line-height: 1.2;
    border-bottom: 1px solid $lightBlue;
    @include transition(0.3);
  }
}
.file-details {
  & .table {
    & th {
      cursor: pointer;
      color: $defaultText;
      padding-top: 20px;
      font-size: 14px;
      & label:before {
        border-width: 2px;
        margin-right: 15px;
      }
    }
    & td {
      font-size: 14px;
    }
    & a {
      color: $lightBlue;
      line-height: 0.6;
      text-decoration: underline;
      @include transition(0.3);
      margin-left: 15px;
      &:hover {
        color: $darkBlue;
      }
    }
    & tbody tr:first-child td {
      padding-top: 15px;
    }
    & tbody tr:last-child td {
      padding-bottom: 20px;
    }
    & thead {
      border-top: 3px solid #f6f6f6;
      border-bottom: none;
    }
    & tfoot td {
      padding: 15px 0;
      border-bottom: 1px solid #d1d1d1;
    }
    & input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      &:checked + label:after {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: 6px;
        width: 5px;
        height: 10px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
      }
      &:checked + label:before {
        background: $darkBlue;
        border-color: $darkBlue;
      }
    }
    & label {
      position: relative;
      margin: 0;
      cursor: pointer;
      &:before {
        content: "";
        -webkit-appearance: none;
        padding: 7px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin: 0 0 3px 0;
        background-color: transparent;
        border: 1px solid #555555;
        cursor: pointer;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
      }
      &:after {
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

// NEW FUNDING REQUEST PAGE
.funding-request {
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 65px;
    & h1 {
      margin-bottom: 0;
      line-height: 1;
    }
  }
  &__image {
    display: flex;
    width: 300px;
    & img {
      @include defaultIcon(contain);
    }
  }
  &__form {
    & .form-group {
      margin-bottom: 30px;
    }
    & label {
      & span {
        color: #ff0000;
      }
      & small {
        font-size: 14px;
      }
    }
  }
  &-add {
    padding-top: 30px;
    border-top: 1px solid #d1d1d1;
    & .add-funding {
      color: $lightBlue;
      border-bottom: 1px solid $lightBlue;
      @include transition(0.3);
      cursor: pointer;
      &:hover {
        border-color: transparent;
      }
    }
  }
}
.upload-helper {
  margin: 30px 0 0 40px;
  font-size: 14px;
}
.form-disbursement {
  padding-bottom: 48px;
}
// CASE STATUS UPDATE PAGE
.status-update {
  &__header {
    margin-bottom: 50px;
  }
}
// EXPERT ACCESS STATUS UPDATE PAGE
.status-update-expert {
  &__header {
    align-items: flex-end;
    margin-bottom: 50px;
    & h1 {
      margin-bottom: 0;
      text-align: right;
    }
  }
  &__image {
    display: flex;
    width: 300px;
    & img {
      @include defaultIcon(contain);
    }
  }
}
// TRANSACTION PAGE
.transaction-details {
  &-header {
    align-items: flex-end;
    margin-bottom: 50px;
    & .col-md-4:last-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    & .section-subtitle,
    & h1 {
      margin: 0;
      line-height: 1;
    }
    & h1 {
      margin-top: 40px;
    }
  }
  &__image {
    display: flex;
    width: 300px;
    & img {
      @include defaultIcon(contain);
    }
  }
  &__information {
    & .information {
      &-item {
        display: flex;
        margin-bottom: 10px;
        & small {
          font-size: 10px;
        }
      }
      &__key {
        width: 33.33%;
        margin-right: 8px;
        font-weight: 700;
      }
      &-total {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #d1d1d1;
        & .information__value {
          font-weight: 700;
        }
      }
      &-file {
        margin-top: 50px;
        display: flex;
        align-items: center;
        & span {
          color: $lightBlue;
          line-height: 1;
          width: fit-content;
          border-bottom: 1px solid $lightBlue;
          display: block;
          margin-left: 8px;
        }
      }
      &-back {
        margin-top: 85px;
        & a {
          width: 150px;
          height: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid transparent;
          cursor: pointer;
          font-size: 16px;
          @include transition(0.3);
          background: $lightBlue;
          color: $whiteColor;
          margin-right: 10px;
          &:hover {
            background: $darkBlue;
          }
        }
      }
    }
  }
}
// MEDIA QUERIES
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  main {
    margin-top: 30px;
    min-height: auto;
  }
  .body-padding {
    height: 90px;
  }
  .header {
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    & .d-flex {
      justify-content: space-between;
      align-items: center;
    }
    &-logo {
      width: 200px;
    }
    &-notifications {
      margin: 10px 0;
    }
    & .menu-item-has-child {
      margin: 10px 0 0 0;
    }
    .menu {
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      &-item {
        margin: 10px 0;
        & a {
          font-size: 18px;
        }
      }
    }
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 94px;
    right: -120vw;
    background: $whiteColor;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    @include transition(0.3);
    padding: 10px 10px 20px 10px;
  }
  .sub-menu {
    right: unset;
    left: 0;
    text-align: left;
  }
  .hamburger {
    display: block;
  }
  // ACCOUNT OVERVIEW
  .law-firm-account .table th:first-child,
  .law-firm-account .table td:first-child {
    width: 16%;
  }
  .law-firm-account .table th:nth-child(3),
  .law-firm-account .table td:nth-child(3) {
    width: 34%;
    padding-left: 0;
  }
  .account-overview-additional {
    padding: 30px 0;
  }
  .account-overview__search {
    margin-bottom: 30px;
  }
  .status-update-expert__image {
    width: 100%;
  }
  .transaction-details__image {
    width: 200px;
  }
  .file-details {
    & .table {
      & td {
        font-size: 12px;
      }
      & th:first-child {
        white-space: nowrap;
      }
    }
  }
}
@media (max-width: 767px) {
  .heading-1 {
    font-size: 24px;
  }
  .heading-2 {
    font-size: 20px;
  }
  .form-buttons {
    margin-top: 50px;
  }
  .footer {
    margin-top: 30px;
    &-menu a {
      margin-right: 6px;
      padding-right: 6px;
      font-size: 14px;
    }
  }
  .account-overview .tabs {
    margin: 30px 0 50px 0;
  }
  .tabs-list {
    margin-bottom: 10px;
    flex-direction: column;
    border: none;
    padding: 0 0 0 50px;
    &__item {
      margin: 0 0 15px 0;
      &_link {
        font-size: 16px;
        margin: 0;
        &:before,
        &:after {
          content: "";
          position: absolute;
          left: -50px;
          top: 50%;
          transform: translate(0, -50%);
          width: 40px;
          height: 3px;
        }
        &:before {
          background: $lightBlue;
          z-index: 1;
        }
        &:after {
          background: #f6f6f6;
        }
      }
    }
  }
  .table thead {
    border: none;
  }
  .account-overview form {
    margin-bottom: 0;
  }
  .account-overview form .col-xs-12 {
    margin-bottom: 20px;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table,
  .table tbody,
  .table td,
  .table th,
  .table thead,
  .table tr {
    display: block;
  }
  .law-firm-account .table td:nth-child(3) {
    display: flex;
  }
  .table td {
    border: none;
    position: relative;
    padding-left: 158px;
  }
  .table td:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 110px;
    font-size: 13px;
    padding-right: 10px;
    color: #777;
    white-space: nowrap;
    content: attr(data-column);
  }
  .table td:after {
    content: ":";
    position: absolute;
    left: 90px;
    color: #777;
    font-size: 17px;
    top: 49%;
    transform: translate(0, -50%);
  }
  .account-overview table td {
    width: 100%;
    line-height: 1.4;
  }
  .table-sort {
    margin-bottom: 20px;
    & span {
      display: none;
    }
  }
  .table tbody tr:first-child td {
    padding: 5px 10px 5px 110px;
  }
  .table tbody tr:last-child td {
    padding: 5px 10px 5px 110px;
  }
  .table tbody td {
    padding: 5px 10px 5px 110px;
  }
  .table tbody tr:last-child td {
    border: none;
  }
  .table tbody tr {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .table tfoot td {
    padding: 5px 10px 5px 110px;
  }
  .table tfoot td:first-child:after {
    display: none;
  }
  .law-firm-account .table td:nth-child(3) {
    padding: 5px 10px 5px 110px;
  }
  .law-firm-account .table td {
    width: 100% !important;
  }
  .funding-request {
    &__header {
      flex-direction: column;
      align-items: center;
    }
    &__image {
      width: 200px;
    }
    & .form-group {
      margin-bottom: 15px;
    }
  }
  .upload,
  .upload-helper {
    margin-top: 15px;
  }
  .upload-helper {
    font-size: 11px;
  }
  .upload {
    min-width: 190px;
    & label:after {
      max-width: 280px;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .status-update-expert {
    &__image {
      width: 250px;
      margin: auto;
    }
    &__header {
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
      & .col-xs-12 {
        margin-bottom: 10px;
      }
      & .col-xs-12:nth-child(2) {
        order: 3;
      }
      & h1 {
        text-align: center;
      }
    }
  }
  .transaction-details {
    &-header {
      position: relative;
      margin-bottom: 30px;
      & .section-subtitle,
      & h1 {
        text-align: center;
        margin: 10px 0;
      }
      & .col-md-4:nth-child(2) {
        order: 3;
      }
      & .col-md-4:nth-child(3) {
        align-items: center;
        order: 2;
      }
      & .print-page {
        position: absolute;
        right: 20px;
        top: 0;
      }
    }
    &__image {
      margin: auto auto 10px auto;
    }
    &__information {
      & .information__key {
        min-width: 150px;
        width: 150px;
        margin-right: 20px;
      }
      & .information-file {
        margin-top: 30px;
      }
      & .information-back {
        margin-top: 50px;
      }
    }
  }
  .file-details {
    &__header {
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
    &-cards {
      margin: 30px -15px 0 -15px;
      & .cards {
        &__heading {
          font-size: 14px;
        }
        &__value {
          font-size: 14px;
        }
      }
    }
    & .table {
      & td {
        font-size: 14px;
        padding: 5px 10px 5px 130px;
        &:before {
          width: 130px;
        }
        &:after {
          left: 110px;
        }
      }
      & th:first-child {
        white-space: nowrap;
      }
      & tbody tr:first-child td,
      & tbody tr:last-child td,
      & tfoot td {
        padding: 5px 10px 5px 130px;
      }
      & tfoot td {
        border: none;
      }
    }
    &-table-addition {
      flex-direction: column;
      align-items: flex-start;
      & p {
        margin: 0 0 20px 0;
        width: 100%;
      }
    }
    &-table-helper {
      margin: 15px 0 30px 0;
    }
    & .form-buttons {
      margin: 50px 0 50px 0;
    }
  }
}

@media (max-width: 576px) {
  .footer-menu {
    flex-direction: column;
    align-items: flex-start;
    & a {
      margin: 0 0 10px 0;
      padding: 0;
      border-right: none;
      border-bottom: 1px solid $defaultText;
      &:hover {
        text-decoration: none;
      }
    }
    & li:last-child a {
      border-bottom: 1px solid $defaultText;
    }
  }
  .account-overview table .funding-request {
    margin-left: 15px;
    font-size: 12px;
  }
}
